<menu class="menu-default"></menu>
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="card">
                  <div class="card-header bkg-padrao-1 padding-top-2">
                      <h4 class="title">Mapa</h4>
                      <p class="category">Listamos no Mapa os locais com os hospitais,postos e laboratórios</p>
                  </div>
                  <div class="card-content padding-top-3">
                    <h5 class="text-center padding-bottom-2 aviso-mapa">Procure um serviço de saúde apenas se apresentar falta de ar.</h5>
                    <div class="fixed-action-btn horizontal click-to-toggle pull-right btn-fab-opt filtro-map-btn active">
                      <a class="btn-floating btn-large waves-effect waves-light blue-grey darken-3 ">
                        <!-- <i class="large material-icons">filter_list</i> -->
                        <i class="fas fa-filter"></i>
                      </a>
                      <ul class="filter-box">
                        <li class="text-center">
                          <!-- <a class="btn-floating" (click)="filterEquipamento(1)"></a> -->
                          <div class="filter-desc filter-ativo">
                            Todos
                          </div>
                        </li>
                        <li class="text-center">
                          <!-- <a class="btn-floating" (click)="filterEquipamento(2)"><img src="assets/assets/img/pin/icones-02.png"/></a> -->
                          <div class="filter-desc">
                            Hospitais
                          </div>
                        </li>
                        <li class="text-center">
                          <!-- <a class="btn-floating" (click)="filterEquipamento(3)"><img src="assets/assets/img/pin/icones-03.png"/></a> -->
                          <div class="filter-desc">
                            Postos
                          </div>
                        </li>
                        <li class="text-center">
                          <!-- <a class="btn-floating" (click)="filterEquipamento(4)"><img src="assets/assets/img/pin/icones-04.png"/></a> -->
                          <div class="filter-desc">
                            Laboratórios
                          </div>
                        </li>
                      </ul>
                    </div>

                    <div class="fixed-action-btn vertical click-to-toggle pull-right btn-fab-opt filtro-map-btn">
                      <a class="btn-floating btn-large waves-effect waves-light blue-grey darken-3 ">
                        <i class="large material-icons">filter_list</i>
                      </a>
                      <ul class="padding-top-1-5">
                        <li class="text-center">
                          <a class="btn-floating" (click)="filterEquipamento(1)"></a>
                          <div class="filter-desc">
                            Todos
                          </div>
                        </li>
                        <li class="text-center">
                          <a class="btn-floating" (click)="filterEquipamento(2)"><img src="assets/assets/img/pin/icones-02.png"/></a>
                          <div class="filter-desc">
                            UPA
                          </div>
                        </li>
                        <li class="text-center">
                          <a class="btn-floating" (click)="filterEquipamento(3)"><img src="assets/assets/img/pin/icones-03.png"/></a>
                          <div class="filter-desc">
                            ARENINHA
                          </div>
                        </li>
                        <li class="text-center">
                          <a class="btn-floating" (click)="filterEquipamento(4)"><img src="assets/assets/img/pin/icones-04.png"/></a>
                          <div class="filter-desc">
                            POLICLÍNICA
                          </div>
                        </li>
                        <li class="text-center">
                          <a class="btn-floating" (click)="filterEquipamento(5)"><img src="assets/assets/img/pin/icones-05.png"/></a>
                          <div class="filter-desc">
                            CAPS
                          </div>
                        </li>
                      </ul>
                    </div>

                    <div id="map"></div>
                    <!-- <agm-map [latitude]="meuLocal.latitude" [longitude]="meuLocal.longitude" [zoom]="13">
                      <agm-marker *ngFor="let equipamento of listEquipamentos"
                                  [latitude]="equipamento.latitude" [longitude]="equipamento.longitude"
                                  [iconUrl]="equipamento.url">
                         <agm-info-window>{{equipamento.nome}}</agm-info-window>
                      </agm-marker>
                      <agm-marker [latitude]="meuLocal.latitude" [longitude]="meuLocal.longitude"
                                  [iconUrl]="meuLocal.url">
                         <agm-info-window>Sua localização</agm-info-window>
                      </agm-marker>
                    </agm-map> -->



                  </div>
              </div>
            </div>
          </div>



		     </div>
			</div>
</div>
