agm-map {
  height: 67vh;
}
.bkg-padrao-1{
  background-color: #008c83;
}
.filtro-map-btn{
  position: absolute;
  right: 0;
  bottom: auto;
  top: auto;
  margin-top: -2em;
  padding-top: 0;
  margin-bottom: 0;
  z-index: 997;
  margin-right: 1em;
}
.padding-top-3{
  padding-top: 3em;
}
.padding-top-1-5{
  padding-top: 1.5em;
}
.filter-desc{
  transition: all .5s;
  text-align: center;
  font-weight: bold;
  /* padding-top: .5em; */
  opacity: 0;
  /* font-size: 1.1em; */
  color: #8a70e8;
  text-transform: uppercase;
  border: solid 1px;
  padding: .1em;
  padding-left: .5em;
  padding-right: .5em;
}
.filter-ativo,.filter-desc:hover{
  color: #fff !important;
  background: #8a70e8 !important;
  cursor: pointer;
}
.active .filter-desc{
  opacity: 1;
}
#map{
  height: 67vh;
  margin-top: 0px;
}
.filter-box{
  margin-top: -.5em;
}
.fixed-action-btn.horizontal ul li{
  margin: 0px 0px 0px 3px;
}
.aviso-mapa{
  font-weight: 500;
  font-size: 20px;
}