.card-content .title{
  font-size: 1.5em;
}
.desc-titulo{
  color: #fff !important;
  font-size: 1.3em;
  font-weight: 400;
  padding-top: 1em;
}
h5{
  margin-top: 1em;
}
p{
  font-size: 17px;
  text-align: justify;
}
ul{
  font-size: 17px;
  margin-top: 1em;
  font-weight: bold;
}
ul li{
  padding-left: 1em;
  padding-bottom: .5em;
}