<menu class="menu-default"></menu>
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="card">
                <div class="card-header bkg-padrao-1 padding-top-2">
                  <h4 class="title"><i class="fas fa-file-alt"></i>&nbsp;&nbsp;&nbsp;Sobre o Projeto</h4>
                  <p class="category desc-titulo">
                     
                  </p>
                </div>
                <div class="card-content">        
                  <p>Buscamos com essa plataforma conectar ainda mais a solidariedade das pessoas que precisam de ajuda 
                    e desejam ajudar, divulgar o trabalho dos micro empreendedores e também combater a dissiminação de informações falsas sobre a doença. 
                    <br><br>
                  </p>
                  <p>
                    <strong>Chat Solidário: </strong> A ideia dessa funcionalidade é conectar os vizinhos para que possam ajudar uns aos outros, com favores, 
                    disponibilizando material de proteção, conforto psicológico e outras maneiras de ajuda.  
                  </p>
                  <br>
                  <p>
                    Acreditamos que todas as pessoas independente de suas áreas de trabalho e estudo, possam contribuir ao combate
                    dessa doença. Essa Plataforma foi desenvolvida por dois Programadores que acreditam que a tecnologia tem o objetivo 
                    principal de tornar nossa sociedade um lugar melhor.

                    <br><br><br>
                    Desenvolvido por: <strong>Lucas de Pontes</strong> e <strong>Clailton Jorge</strong><br>
                    <strong><a href="http://besalt.tech" target="_blank">Besalt.tech</a></strong>
              
                  </p>
                
                </div>
              </div>
            </div>
          </div>
		     </div>
			</div>
</div>
