div[modal-vd="open"]{
  z-index: 1003;
  display: block;
  opacity: 1;
  transform: scaleX(1); top: 10%;
  animation-name: openModal;
  animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes openModal {
    0%   {
      opacity: 0;
      transform: translateY(-100em);
    }
    100% {
      opacity: 1;
      transform: translateY(0em);
    }
}

div[modal-vd="close"]{
  z-index: 1003;
  display: block;
  opacity: 1;
  transform: scaleX(1); top: 10%;
  animation-name: closeModal;
  animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes closeModal {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(.3);
      display: none;

    }
}
