<div class="modal">
  <div class="modal-content" id="content">
  </div>
  <!-- <div class="modal-footer">
    <a  class="modal-action modal-close waves-effect btn-flat" data-modal-vd="close">Agree</a>
  </div> -->
</div>
