<div class="sidebar" data-color="green" data-image="assets/assets/img/sidebar-1.jpg">
<div class="logo">
  <img src="assets/assets/img/idosa.png" alt="">
  <h5 class="text-center">
    OLINDINA
  </h5>

  <p class="desc-logo">Juntos contra a COVID-19</p><br>
  
</div>
  <div class="sidebar-wrapper menu-dashboard">

        <ul id="nav-mobile" class="nav nav-dashboard margin-top-0">
          <li *ngIf="logado">
            <a class="text-center">
              <p>Bem vindo(a), <strong>{{username}}</strong></p>
            </a>
          </li>
          <li class="padding-bottom-1">
            <h6 class="text-center disq">Disque Saúde - 136</h6>
            <h6 class="text-center disq2">Teleatendimento Fortaleza<br>(85) 4042-3140 das 8h às 17h</h6>
          </li>
          
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/home']">
                  <i class="material-icons">chat</i>
                  <p>Chat solidário</p>
              </a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/negocios']">
                <i class="fas fa-store"></i>
                <p>Pequenos negócios</p>
            </a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/mapa']">
                <i class="fas fa-hospital"></i>
                <p>Centros de saúde</p>
            </a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/dados']" id="btn-tuto-1">
                  <i class="fas fa-info-circle"></i>
                  <p>Dados da COVID-19</p>
              </a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/sintomas']" id="btn-tuto-1">
                <i class="fas fa-head-side-cough"></i>
                <p>Sobre a doença</p>
            </a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/sobre']" id="btn-tuto-1">
                <i class="fas fa-file-alt"></i>
                <p>Sobre o projeto</p>
            </a>
          </li>
          <li *ngIf="logado">
              <a href="#" (click)="logout()">
                  <i class="material-icons">power_settings_new</i>
                  <p>Sair</p>
              </a>
          </li>
          
        </ul>
 
  </div>
</div>

<nav class="navbar navbar-absolute navbar-sistema" id="menu-header">
  
  <div class="container-fluid">
  
  <div class="nav-wrapper">
    <ul id="slide-out" class="side-nav">
      <li *ngIf="logado">
        <a class="text-center">
          <p>Bem vindo(a), <strong>{{username}}</strong></p>
        </a>
      </li>
      <li class="padding-bottom-1">
        <h6 class="text-center disq">Disque Saúde - 136</h6>
        <h6 class="text-center disq2">Teleatendimento Fortaleza<br>(85) 4042-3140 das 8h às 17h</h6>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/home']">
              <i class="material-icons">chat</i>
              <p>Chat solidário</p>
          </a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/negocios']">
            <i class="fas fa-store"></i>
            <p>Pequenos negócios</p>
        </a>
      </li>
      
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/dados']" id="btn-tuto-1">
              <i class="fas fa-info-circle"></i>
              <p>Dados da COVID-19</p>
          </a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/sintomas']" id="btn-tuto-1">
            <i class="fas fa-head-side-cough"></i>
            <p>Sobre a doença</p>
        </a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/sobre']" id="btn-tuto-1">
            <i class="fas fa-file-alt"></i>
            <p>Sobre o projeto</p>
        </a>
      </li>
      <li *ngIf="logado">
          <a href="#" (click)="logout()">
              <i class="material-icons">power_settings_new</i>
              <p>Sair</p>
          </a>
      </li>


    </ul>
    <div class="logo">
      <img src="assets/assets/img/idosa.png" alt="">
      <span class="text-center">
        OLINDINA
      </span>
          
    </div>
    <button type="button" class="navbar-toggle" data-activates="slide-out"><i class="material-icons">menu</i></button>


  </div>
  </div>
</nav>

<div id="modal-login" class="modal modal-adap modal-login" modal modal-width-70>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel">Acesse sua conta</h5>
  </div>
  <div class="modal-content padding-0">
    <div>
      <div class="row margin-bottom-0">
        <div class="col-md-12">
          <form class="col s12 padding-top-1" data-toggle="validator" role="form">
            <div class="input-field col s12">
              <input type="email" class="validate" [(ngModel)]="login.email" name="email" placeholder="Email" required>
            </div>
            <div class="input-field col s12">
              <input type="password" class="validate" [(ngModel)]="login.password" name="senha" placeholder="Senha" required>
            </div>
            <div class="esqueci-senha"><a (click)="openModalSenha()">Esqueci minha senha</a></div>
            <h5 class="text-center">ou</h5>
            <div class="possui-cadastro"><a (click)="fazerCadastro()">Criar minha conta</a></div>
            
            <div class="row padding-bottom-0 padding-top-2">
              <div class="col-md-12 text-right">
                <button type="button" class="btn btn-default" (click)="closeLogin()">Fechar</button>
                <button type="submit" class="btn waves-effect waves-light blue-grey darken-3" [ngClass]="{'disabled': login.email=='' || login.password==''}" (click)="fazerLogin()">Acessar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-senha" class="modal modal-adap modal-login" modal modal-width-70>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel">Recupere sua senha</h5>
  </div>
  <div class="modal-content padding-0">
    <div>
      <div class="row margin-bottom-0">
        <div class="col-md-12">
          <form class="col s12 padding-top-1" data-toggle="validator" role="form">
            <h6 class="text-center">Você recebera uma nova senha no email.</h6>
            <div class="input-field col s12">
              <input type="email" class="validate" [(ngModel)]="login.email" name="email" placeholder="Diga seu email" required>
            </div>
            
            <div class="row padding-bottom-0 padding-top-2">
              <div class="col-md-12 text-right">
                <button type="button" class="btn btn-default" (click)="closeModalSenha()">Fechar</button>
                <button type="submit" class="btn waves-effect waves-light blue-grey darken-3" [ngClass]="{'disabled': login.email==''}" (click)="recuperarSenha()">Recuperar senha</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-register" class="modal modal-adap" modal modal-width-70>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel">Faça um breve cadastro</h5>
  </div>
  <div class="modal-content padding-0">
    <div>
      <div class="row">
        <div class="col-md-12">
          <form class="col s12 padding-top-2" data-toggle="validator" role="form">
            <div class="input-field col s12">
              <input type="text" class="validate" [(ngModel)]="user.name" name="nomeCompleto" required>
              <label for="nomeCompleto">Nome Completo</label>
            </div>
            <div class="row">
              <div class="input-field col m6 s12">
                <label class="label-fixed">Data de Nascimento</label>
                <input type="date" class="validate" [(ngModel)]="user.data_nascimento" name="dataNascimento" placeholder="mm/dd/aaaa" required>
              </div>
              <div class="input-field col m6 s12 align-data">
                <input type="email" class="validate" [(ngModel)]="user.email" name="email" required>
                <label for="email">Email</label>
              </div>
            </div>

            <div class="input-field col m6 s12">
              <input type="password" class="validate" [(ngModel)]="user.password" name="senha" required>
              <label for="senha">Senha</label>
            </div>
            <div class="input-field col m6 s12">
              <input type="password" class="validate" [(ngModel)]="user.rptSenha" name="rptSenha" required>
              <label for="rptSenha">Repetir senha</label>
            </div>
            <div class="row">
              <div class="col-md-12 text-right">
                <button type="button" class="btn btn-default" (click)="closeRegister()">Fechar</button>
                <button type="submit" class="btn waves-effect waves-light blue-grey darken-3" (click)="criarUser()">Cadastrar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<ngx-spinner class="loading"
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  type="timer"
  loadingText="{{msgLoading}}"
></ngx-spinner>