@media screen and (max-width: 768px) {
  div.modal-aviso{
    width: 100% !important;
    padding-top: 5em !important;
  }
  div.modal-aviso div.fluxo-1 > p{
    padding: 1em;
  }
  div.modal-aviso div.modal-content > div.row{
    padding: 1em;
  }
  div#modalNoticia{
    transform: scale(1) !important;
  }
  div#modalLogin{
    transform: scale(1) !important;
  }
  .fixed-action-btn.horizontal{
    display: none;
  }
  .fixed-action-btn.vertical{
    display: block;
  }
  div.fixed-action-btn ul li{
    text-align: left;
    position: relative;
  }
  .linha-badges>h6{
    padding-top: 2.3em;
  }
  div.fixed-action-btn div.filter-desc{
    position: absolute;
    top: .3em;
    right: 0;
    z-index: 1;
    left: 3.5em;
    color: white;
  }
  div.fixed-action-btn ul{
    left: 0;
    right: auto;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;
    visibility: hidden;
  }
  div.card>div.card-content div.filtro-map-btn{
    position: absolute;
    left: 0;
    bottom: 0;
    top: auto;
    margin-top: -2em;
    padding-top: 0;
    margin-bottom: 0;
    z-index: 997;
    margin-right: 1em;
  }
  nav.navbar-padrao  a.brand-logo > img{
    width: 90% !important;
    margin-top: 5rem !important;
    transform: scale(1.4) !important;
  }
  div#modalParticipe{
    margin-top: 10rem;
  }
  div.modal-dialog div.modal-content{
    padding: 0px !important;
  }
  div.modal div.modal-content{
    padding: 0px !important;
    box-shadow: none !important;
    background: #fff !important;
  }
  div.modal div.modal-content div.modal-body{
    padding: .6rem !important;
  }
  a.btn-participe{
    width: 100% !important;
  }
  .modal-open{
    overflow: auto !important;
  }
  div.midias{
    margin-top: 2em !important;
  }
  nav.navbar-padrao  a.button-collapse > i{
    color: #0093a9;
    font-size: 3.5em;
  }
  div.alerta  div.attr{
    width: 95%;
  }
  app-perfil div.card div.card-content{
    padding: 0px;
  }
  div.content div.col-md-12{
    padding: 0px !important;
  }
  div.input-field{
    z-index: 1;
  }
  div.card-perfil{
    padding: 0px !important;
  }
  div.modal-adap{
    width: 25em !important;
    transform: scale(.97) !important;
  }
  #grid-noticia li.flex-item{
      width: 100%;
      padding: .5em;
  }
  .modal-adap .content-form-noticias{
    padding: 1em;
  }
  div ul.tabs-padrao.responsive{
    display: flex;
    height: 4.5em;
  }
  div ul.tabs-padrao.not-responsive{
    display: none;
  }
  .tabs-padrao i.icon-tabs{
    font-size: 2em;
    padding-top: .3em;
  }
  a.brand-logo img{
    margin: 0 auto;
    padding-top: 2em;
  }
  .information{
    margin-top: 0em !important;
  }

  /* #header-fortaleza ul.mobile-hide{

  } */
  .navbar-toggle{
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  div.check-desafio button{
    margin-top: 3em !important;
  }
  .informacoes > a > img{
    width: 100%;
  }
  .progress span{
    color: #000;
    position: absolute !important;
    top: -1.3em !important;
  }
  .gamification table.desafios tr td{
    padding: 0px !important;
  }
  .gamification{
    padding-top: 3em !important;
  }
  .gamification a.btn-padrao-1{
    padding-top: 0em !important;
    padding-bottom: 0em !important;
  }
  .navbar-sistema .logo{
    display: inline !important;
  }
  .raio-interacao{
    display: block !important;
    padding-top: .3em;
  }
  .box-msg{
    display: block !important;
  }
  .box-name{
    margin: 0 !important; 
  }
  .box-comentario:before{
    left: 12px !important;
    top: -8px !important;
    transform: rotate(-60deg) !important;
  }
  .box-comentario{
    border-radius: 7px !important;
  }
  .box-comentar{
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .card-negocios{
    padding: 0 !important;
  }
  .modal-login{
    width: 100% !important;
  }
  .navbar-sistema{
    display: contents !important;
  }
  .resp-msg-aviso{
    display: block !important;
    padding: 0 !important;
  }
}

@media screen and (min-width: 768px) {
  .fixed-action-btn.horizontal{
    display: block;
  }
  .fixed-action-btn.vertical{
    display: none;
  }
  div ul.tabs-padrao.responsive{
    display: none;
  }
  div ul.tabs.not-responsive{
    display: block;
  }
  a.brand-logo{
    position: relative;
    top: -3em;
  }
  
}

 