.bkg-normal{
  background: #56af5a;
}
.bkg-normal > i, .bkg-normal > h6{
  color: #fff;
}
.bkg-perigo{
  background: #e73f3beb;
}
.bkg-perigo > i, .bkg-perigo > h6{
  color: #fff;
}
.card-stats .card-header{
  float: right;
}
.card-content{
  text-align: left;
}
.card-content .title{
  font-size: 1.5em;
}
.desc-titulo{
  color: #fff !important;
  font-size: 1.3em;
  font-weight: 400;
  padding-top: 1em;
}
.icone-titulo{
  font-size: 1.1em;
  margin-right: .3em;
}
.categorias{
  display: initial;
}
.categorias .dropdown-menu a{
  color: #000;
  padding: .5em;
  display: block;
  border-bottom: 1px #aab0bc solid;
}
.categorias .dropdown-menu a:hover{
  background-color: #f4f4f4;
}
.categorias .dropdown-menu{
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 1em;
}
.nav-link:hover{
  cursor: pointer;
}
.filtro-categoria{
  font-size: 1.2em;
  margin-top: 1em;
}
.distancia{
  position: absolute;
  top: .5em;
  right: 1em;
  font-weight: bold;
  text-transform: initial;
  color: #8a70e8;
}

.endereco-select{
  /* padding-left: 1em; */
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 1em;
}
.endereco-select i{
  padding-left: .5em;
  cursor: pointer;
  color: red;
  font-size: 1.3em;
}

#endereco::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}
#endereco:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}

#endereco::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}
.input-search{
  display: flex;
}
.input-search i{
  margin: auto;
  font-size: 1.5em;
  margin-right: .7em;
  position: relative;
  bottom: .1em;
  transform: rotate(90deg)
}
.dropdown-item{
  cursor: pointer;
}
.main-panel{
  min-height: 40em !important;
}
.text-catego{
  color: #8a6fe8;
  font-weight: bold;
}