<menu class="menu-default"></menu>
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="card">
                  <div class="card-header bkg-padrao-1 padding-top-2">
                    <h4 class="title"><i class="fas fa-store icone-titulo"></i>Pequenos negócios</h4>
                    <p class="category desc-titulo">
                        Divulgue seu négócio para que todos na região possa ver e entrar em contato.
                    </p>
                  </div>
                  <div class="card-content padding-top-3 card-negocios">
                    <div class="row">
                      <div class="col-md-6 filtro-categoria">
                        <strong>Filtrar por categoria: </strong>
                        <div class="nav-item dropdown categorias">
                          <a  aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" id="navbarDropdownMenuLink">
                            {{filtroSelect}}
                          </a>
                          <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                            <a *ngFor="let item of categorias" class="dropdown-item" (click)="filtroNegocio(item.value)">{{item.name}}</a>
                          </div>
                        </div>

                      </div>
                      <div class="col-md-6 text-right">
                        <button *ngIf="flagEditNegocio" class="btn waves-effect waves-light blue-grey darken-3" (click)="editInfo()">Editar meu negócio</button>
                        <button *ngIf="!flagEditNegocio" class="btn waves-effect waves-light blue-grey darken-3" (click)="divulgar()">Divulgar meu Negócio</button>
                      </div>
                    </div>


                    <div class="row">
                      <h6 *ngIf="!listNegocios.length" class="text-center">Não há negócios próximos a você.</h6>
                      <div *ngFor="let item of listNegocios" class="col-md-6">
                        
                        <div class="card card-stats padding-1 margin-top-3">

                          <div class="card-content">
                            <h6 class="text-right distancia">Há {{item.unidade}} de você</h6>
                            <h5 class="title">{{item.nome}}<br><small class="text-catego">{{categorias[item.categoria].name}}</small></h5>
                            <h5 class="title"><small>{{item.endereco}}</small></h5>
                            <h6>Contato: {{item.telefone}}</h6>
                    
                          </div>
                          <div class="card-footer opts-footer">
                            <div class="stats">
                              <p>
                                {{item.descricao}}
                              </p>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>                                      
                  </div>
              </div>
            </div>
          </div>
		     </div>
			</div>
</div>

<div id="modal-negocio" class="modal modal-negocio" modal modal-width-70>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel">Cadastre meu negócio</h5>
  </div>
  <div class="modal-content padding-0">
    <div>
      <div class="row margin-bottom-0">
        <div class="col-md-12">
          <form class="col s12 padding-top-2" data-toggle="validator" role="form" id="formNegocio" (ngSubmit)="criarNegocio()">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" class="validate" [(ngModel)]="negocio.nome" name="nome" required>
                <label for="nome">Nome do negócio</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea type="text" class="materialize-textarea validate" [(ngModel)]="negocio.descricao" name="descricao" required></textarea>
                <label for="nomeCompleto">Descreva seu negocio, (O que vende, o que oferece e etc...)</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input kzMask="(99) 99999-9999" type="text" class="validate" [(ngModel)]="negocio.telefone" name="telefone" required>
                <label for="telefone">Telefone para contato</label>
              </div>
              <div class="input-field col s6">
                <select class="form-control selectDefault validate" [(ngModel)]="negocio.categoria" name="categoria" required>
                  <option value="0" disabled selected>Escolha sua categoria</option>
                  <option *ngFor="let item of categoriasFilter" value="{{item.value}}">{{item.name}}</option>
                </select>
              </div>
            </div>

            <div class="input-field col s12 input-search">
              <i class="fas fa-search"></i>
              <input [attr.disabled]="enderSelect == true ? true : null" 
              ngx-google-places-autocomplete [options]='options' placeholder="Busque o endereço de seu negócio" [(ngModel)]="negocio.endereco" #placesRef="ngx-places" id="endereco" (onAddressChange)="handleAddressChange($event)" name="endereco"/>
            </div>

            <div *ngIf="enderSelect" class="endereco-select">
              <div><strong>Endereço selecionado:</strong></div>
              <span>{{negocio.endereco}}</span><i (click)="closeEnderec()" class="far fa-times-circle"></i>
            </div>
            <input type="text" [(ngModel)]="negocio.lat" class="input-hidden" name="lat" required/>

            <div class="row margin-bottom-0 ">
              <div class="col-md-12 text-right">
                <button type="button" class="btn btn-default" (click)="closeNegocio()">Fechar</button>
                <button type="submit" class="btn waves-effect waves-light blue-grey darken-3" [ngClass]="{'disabled': !formValid && !enderSelect}">Cadastrar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="modal-negocio-edit" class="modal modal-negocio" modal modal-width-70>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel">Editar meu negócio</h5>
  </div>
  <div class="modal-content padding-0">
    <div>
      <div class="row margin-bottom-0">
        <div class="col-md-12">
          <form class="col s12 padding-top-2" data-toggle="validator" role="form" id="formNegocioEdit" (ngSubmit)="editarNegocio()">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" class="validate" [(ngModel)]="meuNegocioUser.nome" name="nome" required>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea type="text" class="materialize-textarea validate" [(ngModel)]="meuNegocioUser.descricao" name="descricao" required></textarea>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input type="text" class="validate" [(ngModel)]="meuNegocioUser.telefone" name="telefone" required>
              </div>
              <div class="input-field col s6">
                <select class="form-control selectDefault validate" [(ngModel)]="meuNegocioUser.categoria" name="categoria" required>
                  <option value="0" disabled selected>Escolha sua categoria</option>
                  <option *ngFor="let item of categoriasFilter" value="{{item.value}}">{{item.name}}</option>
                  <!-- <option value="2">Lanchonete</option>
                  <option value="3">Salão de Beleza</option>
                  <option value="4">Bares e Bebida</option>
                  <option value="5">Serviços em Geral</option> -->
                </select>
              </div>
            </div>

            <div class="input-field col s12 input-search">
              <i class="fas fa-search"></i>
              <input [attr.disabled]="enderSelectEdit == true ? true : null" 
              ngx-google-places-autocomplete [options]='options' 
              placeholder="Busque o endereço de seu negócio" 
              [(ngModel)]="meuNegocioUser.endereco" #placesRef="ngx-places" 
              id="enderecoEdit" (onAddressChange)="handleAddressChangeEdit($event)" name="endereco"/>
            </div>

            <div *ngIf="enderSelectEdit" class="endereco-select">
              <div><strong>Endereço selecionado:</strong></div>
              <span>{{meuNegocioUser.endereco}}</span><i (click)="closeEnderecEdit()" class="far fa-times-circle"></i>
            </div>
            <input type="text" [(ngModel)]="meuNegocioUser.lat" class="input-hidden" name="lat" required/>

            <div class="row margin-bottom-0 ">
              <div class="col-md-12 text-right">
                <button type="button" class="btn btn-default" (click)="closeNegocioEdit()">Fechar</button>
                <button type="submit" class="btn waves-effect waves-light blue-grey darken-3" [ngClass]="{'disabled': !formValid2 && !enderSelectEdit}">Atualizar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>