<menu class="menu-default"></menu>
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="card">
                <div class="card-header bkg-padrao-1 padding-top-2">
                  <h4 class="title"><i class="fas fa-head-side-cough"></i>&nbsp;Sobre a doença</h4>
                  <p class="category desc-titulo">
                      Todas a informações foram retiradas do site do
                      <a target="_blank" href="https://coronavirus.saude.gov.br/sobre-a-doenca" target="_blank">Ministério da Saúde</a>.
                  </p>
                </div>
                <div class="card-content">
                  <h5>O que é COVID-19</h5>
                  <p>A <strong>COVID-19</strong> é uma doença causada pelo coronavírus <strong>SARS-CoV-2</strong>, que apresenta um quadro clínico que varia de infecções assintomáticas a quadros respiratórios graves. De acordo com a Organização Mundial de Saúde (OMS), a maioria dos pacientes com COVID-19 (cerca de 80%) podem ser assintomáticos e cerca de 20% dos casos podem requerer atendimento hospitalar por apresentarem dificuldade respiratória e desses casos aproximadamente 5% podem necessitar de suporte para o tratamento de insuficiência respiratória (suporte ventilatório).</p>
                  
                  <h5>O que é o coronavírus?</h5>
                  <p>Coronavírus é uma família de vírus que causam infecções respiratórias. <strong>O novo agente do coronavírus foi descoberto em 31/12/19</strong> após casos registrados na China. Provoca a doença chamada de coronavírus (COVID-19).</p>
                  <p> Os primeiros coronavírus humanos foram isolados pela primeira vez em 1937. No entanto, foi em 1965 que o vírus foi descrito como coronavírus, em decorrência do perfil na microscopia, parecendo uma coroa.</p>
                  <p> A maioria das pessoas se infecta com os coronavírus comuns ao longo da vida, sendo as crianças pequenas mais propensas a se infectarem com o tipo mais comum do vírus. Os coronavírus mais comuns que infectam humanos são o alpha coronavírus 229E e NL63 e beta coronavírus OC43, HKU1.</p>
                  
                  <h5>Quais são os sintomas</h5>
                  <p>Os sintomas da COVID-19 podem variar de um simples resfriado até uma pneumonia severa. Sendo os sintomas mais comuns:</p>
                  <ul>
                    <li>• Tosse</li>
                    <li>• Febre</li>
                    <li>• Coriza</li>
                    <li>• Dor de garganta</li>
                    <li>• Dificuldade para respirar</li>
                  </ul> 

                  <h5>Como é transmitido</h5>
                  <p>A transmissão acontece de uma pessoa doente para outra ou por contato próximo por meio de:&nbsp;<br>
                    <ul>
                      <li>• Toque do aperto de mão</li>
                      <li>• Gotículas de saliva</li>
                      <li>• Espirro</li>
                      <li>• Tosse</li>
                      <li>• Catarro</li>
                      <li>• Objetos ou superfícies contaminadas, como celulares, mesas, maçanetas, brinquedos, teclados de computador etc.</li>
                    </ul> 

                  <h5>Diagnóstico</h5>
                  <p>O diagnóstico da COVID-19 é realizado primeiramente pelo profissional de saúde que deve avaliar a presença de critérios clínicos:</p>
                  <ul>
                    <li>Pessoa com quadro respiratório agudo, caracterizado por sensação febril ou febre, que pode ou não estar presente na hora da consulta (podendo ser relatada ao profissional de saúde), acompanhada de tosse OU dor de garganta OU coriza OU dificuldade respiratória, o que é chamado de Síndrome Gripal.</li>
                    <li>Pessoa com desconforto respiratório/dificuldade para respirar OU pressão persistente no tórax OU saturação de oxigênio menor do que 95% em ar ambiente OU coloração azulada dos lábios ou rosto, o que é chamado de Síndrome Respiratória Aguda Grave</li>
                  </ul>
                  <p>Caso o paciente apresente os sintomas, o profissional de saúde poderá solicitar exame laboratoriais:</p>
                  <ul>
                    <li>De biologia molecular (RT-PCR em tempo real) que diagnostica tanto a COVID-19, a Influenza ou a presença de Vírus Sincicial Respiratório (VSR).</li>
                    <li>Imunológico (teste rápido) que detecta, ou não, a presença de anticorpos em amostras coletadas somente após o sétimo dia de início dos sintomas.</li>
                  </ul>
                  <p>O diagnóstico da COVID-19 também pode ser realizado a partir de critérios como: histórico de contato próximo ou domiciliar, nos últimos 7 dias antes do aparecimento dos sintomas, com caso confirmado laboratorialmente para COVID-19 e para o qual não foi possível realizar a investigação laboratorial específica, também observados pelo profissional durante a consulta.</p>

                  <h5>Como se proteger</h5>
                  <p>As recomendações de prevenção à COVID-19 são as seguintes:</p>
                  <ul>
                  <li>Lave com frequência as mãos até a altura dos punhos, com água e sabão, ou então higienize com álcool em gel 70%.</li>
                  <li>Ao tossir ou espirrar, cubra nariz e boca com lenço ou com o braço, e não com as mãos.</li>
                  <li>Evite tocar olhos, nariz e boca com as mãos não lavadas.</li>
                  <li>Ao tocar, lave sempre as mãos como já indicado.</li>
                  <li>Mantenha uma distância mínima de cerca de 2 metros de qualquer pessoa tossindo ou espirrando.</li>
                  <li>Evite abraços, beijos e apertos de mãos. Adote um comportamento amigável sem contato físico, mas sempre com um sorriso no rosto.</li>
                  <li>Higienize com frequência o celular e os brinquedos das crianças.</li>
                  <li>Não compartilhe objetos de uso pessoal, como talheres, toalhas, pratos e copos.</li>
                  <li>Mantenha os ambientes limpos e bem ventilados.</li>
                  <li>Evite circulação desnecessária nas ruas, estádios, teatros, shoppings, shows, cinemas e igrejas. Se puder, fique em casa.</li>
                  <li>Se estiver doente, evite contato físico com outras pessoas, principalmente idosos e doentes crônicos, e fique em casa até melhorar.</li>
                  <li>Durma bem e tenha uma alimentação saudável.</li>
                  <li>Utilize máscaras caseiras ou artesanais feitas de tecido em situações de saída de sua residência. </li>
                  </ul>
                  <p><a target="_blank" href="http://portal.anvisa.gov.br/documents/219201/4340788/NT+M%C3%A1scaras.pdf/bf430184-8550-42cb-a975-1d5e1c5a10f7" target="_blank" rel="noopener noreferrer">Veja aqui como confeccionar e usar a máscara caseira.</a></p>
                  <h5>Dicas para viajantes</h5>
                  <ul>
                  <li>Caso você precise viajar, avalie a real necessidade.  Se for inevitável viajar, previna-se e siga as orientações das autoridades de saúde locais.</li>
                  </ul>
                  <p>Ao voltar de viagens internacionais ou locais recomenda-se:</p>
                  <ul>
                  <li><strong>No caso de viagens internacionais</strong>: o isolamento domiciliar voluntário por 7 dias após o desembarque, mesmo que não tenha apresentado os sintomas.</li>
                  <li><strong>No caso de viagens locais</strong>: ficar atento à sua condição de saúde, principalmente nos primeiros 14 dias.</li>
                  <li>Reforçar os hábitos de higiene, como lavar as mãos com água e sabão.</li>
                  <li>Caso apresente sintomas de gripe, siga as orientações do Ministério da Saúde para isolamento domiciliar.</li>
                  </ul>
                  <h5>Se eu ficar doente</h5>
                  <p>Caso você se sinta doente, com sintomas de gripe, evite contato físico com outras pessoas, principalmente idosos e doentes crônicos e fique em casa por 14 dias.<br /> Só procure um hospital de referência se estiver com falta de ar.</p>
                  <p> Em caso de diagnóstico positivo para COVID-19, siga as seguintes recomendações:</p>
                  <ul>
                  <li>Fique em isolamento domiciliar.</li>
                  <li>Utilize máscara o tempo todo.</li>
                  <li>Se for preciso cozinhar, use máscara de proteção, cobrindo boca e nariz todo o tempo.</li>
                  <li>Depois de usar o banheiro, nunca deixe de lavar as mãos com água e sabão e sempre limpe vaso, pia e demais superfícies com álcool ou água sanitária para desinfecção do ambiente.</li>
                  <li>Separe toalhas de banho, garfos, facas, colheres, copos e outros objetos apenas para seu uso.</li>
                  <li>O lixo produzido precisa ser separado e descartado.</li>
                  <li>Sofás e cadeiras também não podem ser compartilhados e precisam ser limpos frequentemente com água sanitária ou álcool 70%.</li>
                  <li>Mantenha a janela aberta para circulação de ar do ambiente usado para isolamento e a porta fechada, limpe a maçaneta frequentemente com álcool 70% ou água sanitária.</li>
                  </ul>
                  <p>Caso o paciente não more sozinho, os demais moradores da devem dormir em outro cômodo, longe da pessoa infectada, seguindo também as seguintes recomendações:</p>
                  <ul>
                  <li>Manter a distância mínima de 1 metro entre o paciente e os demais moradores.</li>
                  <li>Limpe os móveis da casa frequentemente com água sanitária ou álcool 70%.</li>
                  <li>Se uma pessoa da casa tiver diagnóstico positivo, todos os moradores ficam em isolamento por 14 dias também.</li>
                  <li>Caso outro familiar da casa também inicie os sintomas leves, ele deve reiniciar o isolamento de 14 dias. Se os sintomas forem graves, como dificuldade para respirar, ele deve procurar orientação médica.</li>
                  </ul>
                  <h5>Serviço de Saúde</h5>
                  <p>Procure um serviço de saúde apenas se apresentar falta de ar.</p>
                  <p><a target="_blank" href="https://portalarquivos.saude.gov.br/images/pdf/2020/April/18/Hospitais-estaduais-CORONAV--RUS.pdf">Lista de hospitais que prestam atendimento em seu estado/município.</a></p>
                  <p><a target="_blank" href="https://portalarquivos.saude.gov.br/images/pdf/2020/April/18/postos-de-sa--de-com-endere--o.pdf">Lista dos postos de saúde que prestam atendimento em seu estado/município.</a></p>
                  <p><a target="_blank" href="https://portalarquivos.saude.gov.br/images/pdf/2020/April/18/lista-de-laboratorio.pdf">Laboratórios públicos de referência de testagem para coronavírus</a></p>

           
                
                
                
                </div>
              </div>
            </div>
          </div>
		     </div>
			</div>
</div>
