.bkg-normal{
  background: #56af5a;
}
.bkg-normal > i, .bkg-normal > h6{
  color: #fff;
}
.bkg-perigo{
  background: #e73f3beb;
}
.bkg-perigo > i, .bkg-perigo > h6{
  color: #fff;
}
.card-stats .card-header{
  float: right;
}
.card-content{
  text-align: left;
}
.card-content .title{
  font-size: 1.5em;
}
.desc-titulo{
  color: #fff !important;
  font-size: 1.3em;
  font-weight: 400;
  padding-top: 1em;
}
.raio-interacao{
  display: flex;
}
.raio-interacao>span{
  transition: all .3s;
  border: 1px solid #000;
  padding: .3em;
  border-radius: 5px;
  font-weight: 400;
  display: inline-table;
  margin: .6em;
  margin-right: .2em;
}
.raio-interacao>h5{
  margin-right: .3em;
}


#list-comments{
  display: inline-block;
  margin-left: 1.5em;
  margin-right: 4em;
  /* height: 25em; */
  overflow-y: auto;
}
#list-comments2{
  display: inline-block;
  margin-left: 1.5em;
  margin-right: 4em;
  /* height: 25em; */
  overflow-y: auto;
}
.comments{
  max-height: 600px;
  padding-right: 1em;
}
.box-area-comentarios .alert{
  margin-left: 1em;
  margin-right: 1em;
}
.box-area-comentarios{
  /* padding-top: 1em; */
}
.remove-comments{
  cursor: pointer;
  position: absolute;
  bottom: .8em;
  color: #b54243;
}
.remove-comments-2{
  cursor: pointer;
  position: relative;
  color: #b54243;
}
.resp-user{
  color: #339ce6;
  text-decoration: underline;
  white-space: nowrap;
}
.curtido{
  color: #339ce6;
}
.curtidas{
  position: absolute;
  bottom: .5em;
  font-size: 1.1em;
  color: #1f72b7;
  right: 0;
}
.curtidas i{
  padding-left: .3em;
  vertical-align: text-top;
}
.btn-comentar{
  color: #2174b5;
  height: 3rem;
}
.box-comentar i{
  transition: all .5s;
  font-size: 2.1em;
  color: #bdbdbc;
  padding: .1em;
  margin-top: .1em;
  margin-left: 1em;
  position: absolute;
  right: 0;
}
.box-comentar i:hover{
  cursor: pointer;
}
.box-comentar .input-busca{
  width: 90% !important;
  border: transparent !important;
  background: transparent !important;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
  margin-left: .3em !important;
  /* margin-left: 0 !important; */
}
.datahorario{
  font-weight: 400;
  color: #799cc9;
  display: block;
  font-size: .8em;
}
.box-comentar .input-busca::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

.box-comentar .input-busca:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}

.box-comentar .input-busca::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}

.box-comentar{
  display: flex;
  margin: 1em;
  border: 1px solid #ddd;
  border-radius: 6px;
  position: relative;
  padding: 1em;
  padding-top: .5em;
}
.input-busca:focus{
  box-shadow: 0 1px 0 0 #37474f !important;
  border-bottom: 1px solid #37474f !important;
}
.icone-titulo{
  font-size: 1.3em;
  margin-right: .3em;
  vertical-align: sub;
}
.box-msg{
  display: flex;
  margin-bottom: 2em;
}
.responder{
  font-weight: bold;
  position: relative;
  top: .5em;
  cursor: pointer;
}
.msg-privada{
  position: relative;
  top: .6em;
  color: #8a70e8;
  font-weight: 400;
  padding-left: .7em;
  font-size: 15px;
}
.box-name{
  margin: 1.3em;
  max-width: 130px;
  margin-top: 0;
  position: relative;
  bottom: .55em;
  text-align: left;
  color: #000;
  font-size: 1.2em;
}
.privado{
  background: #ddd !important;
}
.privado:before{
  border-top: 32px solid #ddd !important;
}
.box-comentario{
  background: #f4f4f4;
  padding: 1em;
  border-radius: 0px 7px 7px 7px;
  color: #6e6e6e;
  font-size: 17px;
  position: relative;
}
.box-comentario:before {
  content: '';
  position: absolute;
  left: -.8em;
  top: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 0px solid transparent;
  border-top: 32px solid #f4f4f4;
  clear: both;
}
.raio-interacao{
  margin: 1em;
  margin-left: 2em;
}
.raio-interacao span:hover{
  cursor: pointer;
}
.raio-ativo{
  background-color: #000;
  color: #fff;
  box-shadow: 0 12px 20px -10px rgba(61, 75, 62, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(78, 88, 79, 0.2);
}
.respondendo{
  padding-left: 1em;
}
.respondendo i{
  padding-left: .5em;
  cursor: pointer;
  color: red;
}
.resp-msg-aviso{
  padding-left: 1.5em;
  font-weight: bold;
}
.msg-resp{
  color: #3ea4e7;
  font-weight: 400;
}
