<menu class="menu-default"></menu>
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="card">
                  <div class="card-header bkg-padrao-1 padding-top-2">
                      <h4 class="title"><i class="material-icons icone-titulo">chat</i> Chat solidário</h4>
                      <p class="category desc-titulo">
                          Você pode interagir com sua vizinhaça, caso queira ajudar ou 
                          precise de ajuda.
                          Nessa Quarentena, a solidariedade é fundamental para superarmos juntos essa doença.
                      </p>
                  </div>
                  <div class="raio-interacao">
                    <h5>Interaja </h5>
                    <span [ngClass]="{'raio-ativo': raio==1.0}" (click)="escolhaRaio(1.0)">ATÉ 1 KM</span>
                    <span [ngClass]="{'raio-ativo': raio==5.0}" (click)="escolhaRaio(5.0)">ATÉ 5 KM</span>
                    <!-- <span [ngClass]="{'raio-ativo': raio==10.0}" (click)="escolhaRaio(10.0)">ATÉ 10 KM</span>
                    <span [ngClass]="{'raio-ativo': raio==12.0}" (click)="escolhaRaio(12.0)">MAIS DE 10 KM</span> -->
                  </div>
                  <div class="card-content">
                    

                    <div class="chat box-area-comentarios">
                      

                      <div class="padding-bottom-1">
                          <h6 *ngIf="!listMsg.length" class="text-center">{{msgAviso}}</h6>
                          <div *ngFor="let item of listMsg">

                            <div class="box-msg" *ngIf="item.user_id_dest==null">
                              <div class="box-name">
                                  <strong *ngIf="item.user_send.id==idUser">Você</strong>
                                  <strong *ngIf="item.user_send.id!=idUser">{{item.user_send.name}}</strong>
                                  
                              </div>
                              <div class="box-comentario">
                                  {{item.msg}}
                                  <span class="datahorario">{{item.created_at}}</span>
                                  <div class="btn-opts">                                      
                                      <span class="responder" (click)="responder(item)">Responder</span>
                                  </div>
                              </div>
                            </div>


                            <div class="box-msg" *ngIf="item.user_id_dest==idUser || (item.user_id_dest!=null && item.user_id==idUser)">
                              <div class="box-name">
                                  <strong *ngIf="item.user_send.id==idUser">Você</strong>
                                  <strong *ngIf="item.user_send.id!=idUser">{{item.user_send.name}}</strong>
                                  
                              </div>
                              <div *ngIf="item.user_id_dest!=idUser" class="box-comentario" [ngClass]="{'privado': item.user_id==idUser && item.user_id_dest!=null}">
                                  <span class="msg-resp" *ngIf="item.user_id==idUser && item.user_id_dest!=null">{{item.user_dest.name}},</span>
                                  {{item.msg}}
                                  <span class="datahorario">{{item.created_at}}</span>
                                  <div class="btn-opts">                                      
                                      <span class="responder" (click)="responder(item)">Responder</span>
                                      <span *ngIf="item.user_id==idUser && item.user_id_dest!=null" class="msg-privada">Mensagem Privada</span>
                                  </div>
                              </div>
                              <div *ngIf="item.user_id_dest==idUser" class="box-comentario privado">
                                {{item.msg}}
                                <span class="datahorario">{{item.created_at}}</span>
                                <div class="btn-opts">                                      
                                    <span class="responder" (click)="responder(item)">Responder</span>
                                    <span *ngIf="item.user_id_dest==idUser" class="msg-privada">Mensagem Privada</span>
                                </div>
                              </div>





                            </div>
                          </div>

                          <!-- <div class="box-msg" id="comentario-8">
                            <div class="box-name">
                                <strong>Virna Lemos</strong>
                                
                                <div class="curtidas"></div>
                            </div>
                            <div class="box-comentario privado">
                                <span class="resp-user">Lucas</span>&nbsp;Oi Lucas, eu posso ir, estou indo agora na padaria.
                                <span class="datahorario">13/03/2020 19:50:03</span>
                                <div class="btn-opts">                                      
                                    <span class="responder">Responder</span>
                                    <span class="msg-privada">Mensagem Privada</span>
                                </div>
                            </div>
                          </div> -->



                      </div>

                      <div *ngIf="resp" class="respondendo">
                        <strong>Respondendo:</strong> <span>{{resp.user_send.name}}</span><i (click)="closeResp()" class="far fa-times-circle"></i>
                        <span class="resp-msg-aviso">Sua mensagem só poderá ser vista por esse usuário.</span>
                      </div>
                      <div class="box-comentar">
                        <input name="valor" id="perguntar" [(ngModel)]="msg.msg" type='text' placeholder="Digite sua mensagem..." class="input-busca"/>                                                
                        <button class="btn waves-effect waves-light blue-grey pull-right darken-3" [ngClass]="{'disabled': msg.msg==''}" (click)="sendMsg()" (keyup.enter)="sendEnter($event)">Enviar</button>
                      </div>



                    </div>
                  </div>
              </div>
            </div>
          </div>



		     </div>
			</div>
</div>


